{% extends 'base.html.twig' %}

{% block title %}Éditer la classification "{{ classification.name }}"
{% endblock %}

{% block body %}
    <h1>Éditer la classification "{{ classification.name }}"</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.submit, {'label': 'Modifier'}) }}
    {{ form_end(form) }}

{% endblock %}
