{% extends 'base.html.twig' %}

{% block title %}Liste des films
{% endblock %}

{% block body %}
	
    {% for message in app.flashes('success') %}
        <div class="bg-success">
            {{ message | join('. <br>') }}
        </div>
    {% endfor %}

    <ul>
    {% for film in films %}
        <li>
        <a href=" {{ path('app_film_show', {nom: film.nom }) }} ">{{film.nom}}</a>
        <a href=" {{ path('app_film_delete', {id: film.id} ) }} " class="btn btn-danger">Supprimer</a>
        <a href=" {{ path('app_film_update', {id: film.id} ) }} " class="btn btn-primary">Modifier</a>
        </li>
    {% endfor %}
    </ul>

    <a href="{{ path('app_film_new') }}">Créer un nouveau film</a>
{% endblock %}
