{% extends 'base.html.twig' %}

{% block title %}Seance index{% endblock %}

{% block body %}
    <h1>Seance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jour</th>
                <th>Heure</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seance in seances %}
            <tr>
                <td>{{ seance.id }}</td>
                <td>{{ seance.jour ? seance.jour|date('Y-m-d') : '' }}</td>
                <td>{{ seance.heure ? seance.heure|date('H:i:s') : '' }}</td>
                <td>{{ seance.prix }}</td>
                <td>
                    <a href="{{ path('app_seance_show', {'id': seance.id}) }}">show</a>
                    <a href="{{ path('app_seance_edit', {'id': seance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_seance_new') }}">Create new</a>
{% endblock %}
