<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<header>
			<span>LOGO.</span>
			{% if app.request.server.get('REQUEST_URI') == '/twig' %}
				<a href="{{ path('app_home') }}">Accueil</a>
			{% else %}
				<a href="{{ url('app_twig') }}">Activité twig</a>
			{% endif %}

            <a href="{{ path('app_category_index') }}">Catégories</a>
            <a href="{{ path('app_classification_index') }}">Classifications</a>
            <a href="{{ path('app_film_index') }}">Films</a>
            <a href="{{ path('app_employe_index') }}">Employés</a>

            {% if app.user %}
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a>
            {% endif %}
			</header>
		</body>
	</body>
</html>
