{% extends 'base.html.twig' %}

{% block title %}Liste des catégories
{% endblock %}

{% block body %}

	<h1>Liste des catégories</h1>

	{{ include('includes/success.html.twig') }}

	<ul>
		{% for categorie in categories %}
			<li class="d-flex">
				<a href="{{ path('app_categorie_show', {id: categorie.id}) }}">{{categorie.nom}}</a>
				<a href="{{ path('app_categorie_edit', {id: categorie.id}) }}" class="btn btn-secondary">Éditer</a>
				
				<form action="{{ path('app_categorie_delete', {id: categorie.id}) }}" method="POST">
					<input type="hidden" name="_method" value="DELETE">
					<input type="submit" class="btn btn-danger" value="Supprimer">
				</form>
			</li>
		{% endfor %}
	</ul>

	<a href="{{ path('app_categorie_new')}}" class="btn btn-primary">Créer une nouvelle catégorie</a>

{% endblock %}
